@model List<ThirdWeb.Models.UserModel>
@{
    ViewData["Title"] = "Login Page";
}
@foreach (var item in Model)
{
    <div class="text-center">
        <p>
            Name: <strong>@item.Name</strong> <br>
            Age: <strong>@item.Age</strong> <br>
            Email: <strong>@item.Email</strong> <br>
        </p>
    </div>
}

